<template>
    <div class="modal-content">
      <h4>${message}</h4>
    </div>
    <div class="modal-footer">
      <button class="btn waves-effect waves-light modal-action modal-close " click.delegate="agree()">Aceptar</button>
      <button class="btn waves-effect waves-light modal-action modal-close " click.delegate="disagree()">Cancelar</button>
    </div>
</template>
