<template>
	<require from="../../app.css"></require>
   <div class="container center">
   	<div class="unq-logo">
   		<img src="src/public/img/iso_unq_529.png" alt="Departamente de CyT" width="60%" height="60%"></div>
   	</div>
   </div>
</template>
