<template>
  <button click.delegate = "getData()">Buscar</button>
      <table border="1" class="table table-striped" aurelia-table="data.bind: elementos; display-data.bind: $displayData">
          <thead>
          <tr>
              <th>Nombre</th>
              <th>Tipo</th>
              <th>Cantidad</th>
          </tr>
          </thead>
          <tbody>
          <tr repeat.for="elem of $displayData">
              <td>${elem.nombre}</td>
              <td>${elem.tipo}</td>
              <td>${elem.cantidad}</td>
          </tr>
          </tbody>
      </table>
  </template>
