<template>

	<ul if.bind="authenticated" class="navbar-right right">
    <li md-waves>
  		<a data-toggle="collapse" data-target="#" click.delegate="logout()">Salir</a>
    </li>
  </ul>


</template>