<template>
  <header>
    <require from="./components/logout/logout"></require>
    <require from="./components/login/login"></require>
    <md-navbar fixed="true">

      <ul class="nav navbar-nav navbar-right center">
        <li class="loader" if.bind="router.isNavigating">
          <i class="fa fa-spinner fa-spin fa-2x"></i>
        </li>
      </ul>

      <ul class="hide-on-med-and-down left">
      	<li>
          <a href="#" class="brand-logo center">CyT Stock Manager</a>
        </li>
      </ul>


      <ul if.bind="!authenticated" class="nav navbar-nav navbar-right right">
        <li>
          <a href="/#/login">Acceder</a>
        </li>
      </ul>
      <logout view-model.ref="logout"></logout>
      
	    <ul class="navbar-left">
	    	<li repeat.for="row of router.navigation | authFilter: authenticated" class="${row.isActive ? 'active' : ''}" md-waves>
          <a data-toggle="collapse" data-target="#" href.bind="row.href">${row.title}</a>
        </li>
	    </ul>

    </md-navbar>
  </header>
  <router-view></router-view>
</template>
