[md-tabs] .waves-effect {
  position: static;
}

md-collection-item.collection-item.selected {
  background-color: rgba(238,110,115,0.7);
}

md-collection-item.collection-item.disabled {
  background-color: #eee;
}

div.unq-logo {
	position: relative;
	top: 200px;
}