<template>

  <div class="container">
    <br>
    <div class="row">
      <div class="col s4">
        <input type="text" name="name" value.bind="nameSearch">
      </div>
      <div class="col s3">
        <button class="btn waves-effect waves-light " click.delegate = "filterElements()">Buscar</button>
      </div>
      <div class="col s3">
        <select md-select md-select.ref="select" change.delegate="filterElements()" value.bind="kindSearch">
          <option value="">Todos</option>
          <option repeat.for="kind of kinds" model.bind="kind">${kind}</option>
        </select>
     </div>
    </div>

    <div class="row">
      <div class="col s12">
        <div>
          <md-collection view-model.ref="list">
            <md-collection-item repeat.for="element of filtered" model.bind="element" class="accent-text avatar">
              <img src="src/public/img/icon.jpg" alt="" class="circle md-collection-selector__hover">
              <span class="accent-text title">${element.name}</span>
              <p>${element.kind}</p>
              <p>${element.measure}</p>
              <p>stock disponible: ${element.quantity}</p>
              <div class="secondary-content">
                <a href="#modal1" click.trigger="setModalElement(element)"><i class="material-icons hoverable">remove</i></a>
              </div>
            </md-collection-item>
          </md-collection>
        </div>
      </div>
    </div>
  </div>

  <div id="modal1" md-modal="
      dismissible: false;
      in-duration: 250;
      out-duration: 1000;
      starting-top: 10%;
      ending-top: 20%;
      opacity: 0.7;
    ">
      <div class="modal-content">
        <h4>Quitar elemento de stock: ${currentElement.name}</h4>
        <p>Esta a un paso de quitar ${rangeValue} ${currentElement.measure} del stock de ${currentElement.name}</p>
      </div>
      <div class="modal-footer">
				<div>
				  <md-range
				    md-value.bind="rangeValue"
				    md-min="0"
				    md-max.bind="currentElement.quantity"
				    md-step="1"
				    change.delegate="onRangeChange($event)"
				  ></md-range>
				  <input type="number" value.bind="loanAmount" />
				</div>
        <a click.delegate="agree()" md-button="flat: true;" md-waves="color: green;" class="modal-action modal-close">Aceptar</a>
        <a click.delegate="disagree()" md-button="flat: true;" md-waves="color: red;" class="modal-action modal-close">Cancelar</a>
      </div>
    </div>


</template>
