<template>

  <form role="form" submit.delegate="addElement()" >
  <div class="container">
    <md-input md-label="Nombre " md-value.bind="element.name">
      <i md-prefix class="material-icons">label</i>
    </md-input>
    <md-input md-label="Tipo" md-value.bind="element.kind">
      <i md-prefix class="material-icons">label</i>
    </md-input>
    <md-input md-label="Medición" md-value.bind="element.measure">
      <i md-prefix class="material-icons">label_outline</i>
    </md-input>
    <md-input type="number" md-label="Cantidad" md-value.bind="element.quantity">
      <i md-prefix class="material-icons">label_outline</i>
    </md-input>
    
    <button class="btn waves-effect waves-light" type="submit" name="action">Aceptar
      <i class="material-icons right">done</i>
    </button>
  </div>

</template>
