<template>
	<require from="../../app.css"></require>
	<require from="../../components/add-element/add-element"></require>
	<require from="../../components/element-list/element-list"></require>
  <div class="row">
    <ul md-tabs class="z-depth-1">
      <li md-waves="color: primary;"><a class="active" href="#view_elements">View Elements</a></li>
      <li md-waves="color: primary;"><a href="#add_elements">Add Elements</a></li>
    </ul>
  </div>
  <div id="view_elements" class="tab-content">
  	<element-list view-model.ref="elementList"></element-list>
  </div>
  <div id="add_elements" class="tab-content">
		<add-element view-model.ref="addElement"></add-element>
  </div>


</template>