<template>
	
	
  <form role="form" submit.delegate="addElement()" >
  <div class="container">
    <md-input md-label="Email " md-value.bind="user.email">
      <i md-prefix class="material-icons">person</i>
    </md-input>
    <md-input md-type="password" md-label="Contraseña " md-value.bind="user.password">
      <i md-prefix class="material-icons">lock</i>
    </md-input>

    <div class="button-row">
  		<button class="btn btn-google-plus" click.delegate="login()">Acceder</button>
  		<button class="btn btn-google-plus" click.delegate="signup()">Suscribirse</button>
    </div>

  </div>

</template>