<template>
  <require from="../../components/delete-dialog/delete-dialog"></require>
  <div class="container">
    <div class="row">
      <div class="col s12">
        <div>
          <p><a md-button class="btn waves-effect waves-light" show.bind="someSelected" href="#modal1">Delete</a></p>
          <div id="modal1" md-modal="
            dismissible: false;
            in-duration: 500;
            out-duration: 500;
            starting-top: 10%;
            ending-top: 20%;
            opacity: 0.7;">
            <delete-dialog view-model.ref="deleteDialog"></delete-dialog>
          </div>
          <md-collection view-model.ref="list">
            <md-collection-item repeat.for="element of elements" class="avatar ${ selector.isSelected ? 'selected' : '' } ${ selector.mdDisabled ? 'disabled' : '' }" model.bind="element">
              <md-collection-selector
                view-model.ref="selector"
                item.bind="element"
                md-on-selection-changed.delegate="onSelectionChanged($event)" >

                <img src="src/public/img/icon.jpg" alt="" class="circle md-collection-selector__hover">
              </md-collection-selector>
              <span class="accent-text title">${element.name}</span>
              <p>${element.kind}</p>
              <p>${element.measure}</p>
              <p>stock disponible: ${element.quantity}</p>
              <div class="secondary-content">
                <a href="#addQuantityModal" click.trigger="setModalElement(element)"><i class="material-icons hoverable">add</i></a>
              </div>
            </md-collection-item>
          </md-collection>
        </div>
      </div>
    </div>
  </div>
  <div id="addQuantityModal" md-modal="
      dismissible: false;
      in-duration: 250;
      out-duration: 1000;
      starting-top: 10%;
      ending-top: 20%;
      opacity: 0.7;
    ">
    <div class="modal-content">
      <h4>Agregar elemento de stock: ${currentElement.name}</h4>
      <p>Esta a un paso de agregar ${rangeValue} ${currentElement.measure} del stock de ${currentElement.name}</p>
    </div>
    <div class="modal-footer">
      <div>
        <md-range
          md-value.bind="rangeValue"
          md-min="0"
          md-step="1"
          change.delegate="onRangeChange($event)"
        ></md-range>
        <input type="number" value.bind="loanAmount" />
      </div>
      <a click.delegate="agree()" md-button="flat: true;" md-waves="color: green;" class="modal-action modal-close">Aceptar</a>
      <a click.delegate="disagree()" md-button="flat: true;" md-waves="color: red;" class="modal-action modal-close">Cancelar</a>
    </div>
  </div>


</template>
